body {
  background-color: #000000;
  background-size: cover;
  background-attachment: fixed;
  padding: 60px;
}

h1 {
  text-align: center;
  color: #42FF00;
}

p {
  text-align: center;
  color: #42FF00;
}
