/* Common styles */

html {
    font-family: D-DIN, sans-serif;
}

body {
    background-color: black;
}

a {
    color: #40ff00;
}

h1 {
    text-align: center;
    color: #00ff00;
}

p {
    text-align: center;
    color: #00ff00;
}

.return {
    text-align: left;
}

body {
    margin: 0;
    position: relative;
}

.return {
    text-align: left;
}

::-webkit-scrollbar {
    background-color: #1c1e1f;
    color: #c5c1b9;
}
::-webkit-scrollbar-thumb {
    background-color: #2f3234;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #383b3e;
}
::-webkit-scrollbar-thumb:active {
    background-color: #2A456E;
}
::-webkit-scrollbar-corner {
    background-color: #181a1b;
}

@media only screen and (max-width: 1000px) {
    .main-container {
        padding-bottom: 40px;
    }
}

@font-face {
    font-family: 'D-DINCondensed';
    src: url(../fonts/D-DINCondensed-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: 'D-DINCondensed';
    src: url(../fonts/D-DINCondensed.otf);
}

@font-face {
    font-family: 'D-DIN';
    src: url(../fonts/D-DIN-Italic.otf);
    font-style: italic;
}

@font-face {
    font-family: 'D-DIN';
    src: url(../fonts/D-DIN-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: 'D-DIN';
    src: url(../fonts/D-DIN.otf);
}
